.menu__area {
  background-color: rgba(255, 255, 255, 0.75);
  height: 80px;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  padding: 0 56px;
}
.menu__area .grid {
  display: flex;
  align-items: center;
  height: 100%;
  flex: auto;
}
.position__left__logo {
  display: flex;
  align-items: center;
  max-width: 100px;
  height: 100%;
  padding-top: 10px;
}
@include up(900) {
  header .position__center {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
}
.nav__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.nav__menu ul.height {
  height: 114px;
}
.nav__menu ul {
  min-width: 150px;
  height: 228px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -999em;
  left: -999em;
}
.nav__menu li {
  display: inline-block;
  position: relative;
  text-align: left;
  &.focus,
  &:hover {
    > ul {
      top: auto;
      left: auto;
    }
  }
  li {
    display: block;
    padding: 9px 0;
    border-bottom: 1px solid #ebebeb;
    color: #777777;
    &.focus,
    &:hover {
      > ul {
        left: 100%;
        top: 0;
      }
    }
  }
}
.nav__menu > * + * {
  margin-left: space(4);
}
.nav {
  margin-right: 185px;
  width: 100%;
  display: flex;
}
.nav a {
  transition: color 0.3s;
  display: block;
  white-space: nowrap;
  padding: 10px 15px;
}
@media only screen and(min-width: 771px) and (max-width: 900px) {
  .nav a {
    padding: 10px 0px;
  }
  .menu-item-object-event > a::before {
    right: -13px !important;
    top: 48% !important;
  }
}
.nav a:hover,
.nav a[aria-current] {
  color: $dore;
}
.archive .sticky .menu-item-object-event,
.archive .sticky .menu-item-object-custom,
.page-template .sticky .menu-item-object-event,
.page-template .sticky .menu-item-object-custom,
.page-template .menu-item-object-custom,
.page-template .menu-item-object-event,
.home .menu-item-object-event,
.home .menu-item-object-custom,
.menu-item-object-event,
.menu-item-object-custom {
  > a {
    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border: 4px solid transparent;
      border-top-color: #777777;
    }
  }
}
.archive .menu-item-object-event,
.archive .menu-item-object-custom,
.archive .events .menu-item-object-event,
.page .contact .menu-item-object-event,
.page .about .menu-item-object-event,
.page .sitemap .menu-item-object-event,
.page .mentions .menu-item-object-event,
.page .galery .menu-item-object-event,
.single .menu-item-object-event,
.archive .events .menu-item-object-custom,
.page .contact .menu-item-object-custom,
.page .about .menu-item-object-custom,
.page .sitemap .menu-item-object-custom,
.page .mentions .menu-item-object-custom,
.page .galery .menu-item-object-custom,
.single .menu-item-object-custom,
.page-template-service-complete .menu-item-object-custom,
.page-template-service-complete .menu-item-object-event,
.page-template-service-partiel .menu-item-object-custom,
.page-template-service-partiel .menu-item-object-event,
.page-template-service-day-j .menu-item-object-custom,
.page-template-service-day-j .menu-item-object-event,
.page-template-service-card .menu-item-object-custom,
.page-template-service-card .menu-item-object-event {
  > a {
    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border: 4px solid transparent;
      border-top-color: white;
    }
  }
}
ul {
  ul {
    background-color: white;
  }
}

// Nav Header special
// ==================
.about .menu__area .nav__menu,
.contact .menu__area .nav ul,
.events .menu__area .nav ul,
.galery .menu__area .nav ul,
.archive .menu__area .nav ul,
.sitemap .menu__area .nav ul,
.mentions .menu__area .nav ul,
.single .menu__area .nav ul,
.service-complete .menu__area .nav ul,
.service-partiel .menu__area .nav ul,
.service-day-j .menu__area .nav ul,
.service-card .menu__area .nav ul {
  color: white;
}
@include down(770) {
  .menu__area {
    padding: 0 40px;
  }
  .grid {
    display: flex;
    align-items: center;
  }
  .nav__menu {
    position: fixed;
    z-index: 0;
    background: rgba(255, 255, 255, 0.75);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    opacity: 0;
    pointer-events: none;
  }
  .nav__menu > * {
    transform: translateY(-10px);
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
  }
  .menu__area .nav__menu li {
    margin: 10px;
  }
  @each $i in 2, 3, 4 {
    .nav__menu > *:nth-child(#{$i}n) {
      transition-delay: $i * 0.05s;
    }
  }
  .nav__menu > * + * {
    margin-left: 0;
    margin-top: space(4);
  }
  .menu__area .nav a {
    color: #777777;
  }
  .menu-item-object-event > a::before,
  .menu__area .nav a:hover {
    color: $dore;
  }
  .home .menu__area .position__center {
    margin-left: auto;
  }
  .about .menu__area .grid,
  .archive .menu__area .grid,
  .galery .menu__area .grid,
  .contact .menu__area .grid {
    padding-right: 0;
    padding-left: 0;
  }
  .position__left__logo {
    padding-left: 0;
  }
  .nav__burger {
    margin-right: 0;
  }
}
@include up(1200) {
  .menu__area .nav {
    margin: 0;
  }
}

// Burger menu
// =============
@include down(770) {
  button#responsive-menu-button {
    z-index: 999999 !important;
    right: 13px !important;
  }
  .page button#responsive-menu-button,
  .archive button#responsive-menu-button,
  .single-event button#responsive-menu-button {
    top: 10px !important;
  }
  .home button#responsive-menu-button {
    top: 55px !important;
    @include down(600) {
      top: 93px !important;
    }
  }
  #responsive-menu-container {
    z-index: 99999 !important;
  }
  #responsive-menu-container #responsive-menu-title {
    font-family: $f-alex;
  }
  #responsive-menu-container #responsive-menu-title a {
    font-size: 37px !important;
  }
  #responsive-menu-container #responsive-menu li.responsive-menu-item a {
    border-bottom: 1px solid #ebebeb !important;
  }
  .responsive-menu-open #responsive-menu-container.slide-right {
    box-shadow: 10px 3px 35px black;
  }
  .menu-item-object-event,
  .menu-item-object-custom {
    > a::before {
      display: none;
    }
  }
  .page button#responsive-menu-button .responsive-menu-box {
    color: $dore !important;
  }
}

// Sticky menu
//=============
// All pages
.navhome {
  position: fixed;
  top: 0px;
  width: 100%;
  display: block;
  transition: top 0.8s;
}
#nav.sticky {
  background-color: rgba(2, 61, 43, 0.5);
}
#navEvent.sticky {
  background-color: rgba(255, 255, 255, 0.75);
  ul {
    color: #777777;
  }
}
