.header__title {
    text-align: center;

    h1 {
        width: 100%;
        // margin: 120px auto 25px;
        color: #ffffff;
        font-weight: 400;
        text-align: center;
    }
}
.header__title svg {
    width: 140px;
    height: 15px;
}
.header__cta {
    text-align: center;
    margin-top: 40px;
}
