// Generic
// ==================
%input {
    background: #f9f9f9;
    line-height: 32px;
    padding: space(2) space(3);
    font-size: 18px;
    border-radius: 4px;
}

// Contact
// =============
.contact__form .news-list ul {
    border: 1px solid #d6a859;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 15%;
}
.contact__form .news-list ul li {
    padding: 22px 0px;
    text-align: center;
    margin: 0px;
    font-size: 15px;
}
.contact__form .news-list {
    display: flex;
    justify-content: space-around;
    padding: 30px 69px;
}
.contact__form .form-group {
    height: 60px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}
.contact__form .form-control {
    border: 1px solid $dore;
}
.contact__form label {
    font-size: 15px;
    font-weight: 600;
}
.contact__form textarea.form-control {
    border-radius: inherit;
}
.contact__form .required {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}
.wpcf7 .wpcf7-radio label input {
    opacity: 0;
    color: $dore !important;
    opacity: 1;
    margin: auto;
    height: 50px;
    width: 50px;
    margin-top: -15px;
}
@include down(900) {
    .contact__form .news-list {
        display: flex;
        flex-direction: column;
        padding: 30px 50px;
    }
    .contact__form .news-list ul li {
        padding: 10px 0px;
    }
    .contact__form form {
        margin-bottom: 35px;
    }
    .contact__form .news-list ul {
        margin-left: 0;
        margin-right: 0;
        padding: 1% 27%;
    }
}
@media only screen and (min-width: 901px) and (max-width: 1201px) {
    .contact__form form {
        padding-right: 80px;
    }
}

// Textarea
// =============
textarea.form-control {
    background: #f9f9f9;
    border-radius: 4px;
    padding: space(2);
    min-height: 150px;

    &:focus {
        background: #ffffff;
        border: 1px solid #e4e4e4;
        box-sizing: border-box;
        box-shadow: 0px 1px 3px rgba(238, 238, 238, 0.85);
        border-radius: 4px;
    }
}

// Checkbox
// ==================
.form-check-inline {
    display: inline-flex;
    align-items: center;

    & + .form-check-inline {
        margin-left: space(4);
    }
}
.form-check input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}
.form-check {
    cursor: pointer;
    margin-right: 15px;
}
.form-check label {
    display: inline-flex;
    align-items: center;
    font-family: $f-alex;
    font-size: 20px;
    position: relative;
}
.form-check label::before {
    content: '';
    transform: translateY(-1px);
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    margin-right: 11px;
    background: #f9f9f9;
    border: 1px solid #e4e4e4;
    box-shadow: 0px 1px 3px rgba(238, 238, 238, 0.85);
    transition: 0.3s;
}
.form-check input:focus + label::before {
    border: solid 1px #ffda7d !important;
    box-shadow: 0px 1px 5px $dore !important;
}
.form-check input:checked + label::before {
    background: radial-gradient(#ffffff, #ffffff 4px, #f05b3c 5px, #fd6747);
    border: 1px solid #ee3f1a;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
span.wpcf7-list-item {
    margin: 0.5em 0 0.5em 1em !important;
}
.wpcf7 form.invalid .wpcf7-response-output {
    border-color: $dore !important;
    color: red;
}
.contact__form .content {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: auto;
    overflow: hidden;
    font-weight: 500;
}
@include down(900) {
    .contact__form .content {
        max-width: 400px;
    }
}
// Form
// ==================
.form-group {
    width: 100%;
    position: relative;
    height: 64px;
    display: flex;
    align-items: stretch;
}
.form-group label {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: #777777;
    min-width: 90px;
    order: -1;
    transition: color 0.3s;
    @include down(1024) {
        margin-top: 80px;
    }
}
.form-control {
    border: none;
    width: 100%;
    outline: none;
    font-size: 15px;
    background-color: transparent;
    padding: 16px;
}
select.form-control {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
select.form-control + label::before {
    content: '';
    position: absolute;
    top: 50%;
    right: space(2);
    width: 12px;
    height: 8px;
    margin-top: -2px;
}
.form-group .form-control:focus + label {
    color: $dore;
}
.form-group label::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
}
.form-group .form-control:focus + label::after {
    background: #ffffff;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(238, 238, 238, 0.85);
    border-radius: 4px;
}
.wpcf7-not-valid-tip {
    font-size: 13px;
}
// Infos
//===========
.contact__form .info {
    margin-left: 20px;
    text-align: center;
    color: #777777;
    border: 1px solid $dore;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include down(900) {
        margin-left: 0;
    }
}
.contact__form .info .item {
    margin-bottom: 50px;
}
.contact__form .info .item .icon {
    width: 5%;
    height: 30px;
    margin-bottom: 20px;
    @include down(900) {
        width: 10%;
    }
}
.contact__form .info .item h6 {
    font-size: 16px !important;
    font-weight: 600;
}
.contact__form .info .item h6 span {
    margin-top: 10px;
    line-height: 1.5;
    font-weight: 300;
}
.contact__form .info .social-icon svg {
    margin: 0 15px;
    width: 5%;
    @include down(900) {
        width: 7%;
    }
}

// Bloc de recherche
// ==================
.search-form__title {
    @extend %big-title;
    margin-bottom: space(4);
    text-align: center;
}

.search-form__form {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.search-form .btn {
    justify-content: center;
}

@include up(530) {
    .search-form__form {
        grid-template-columns: repeat(2, 1fr);
    }
    .search-form__checkbox,
    .search-form .btn {
        grid-column: 1 / span 2;
    }
}

// Layout
// =============
.form-2column {
    grid-auto-flow: dense;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: space(2);

    @include up(620) {
        grid-template-columns: repeat(2, 1fr);
    }
}
.form-2column .full {
    grid-column: 1 / -1;
}
.form-2column button {
    justify-self: flex-start;
}
