// Variables
// ==================
$emeraude: #023D2B;
$dore: #D6A859;

// Generic
// ==================
@import "./tools/mixins";
@import "./tools/reset";
@import "./tools/typography";

body{
  font-size: 18px;
  font-family: $f-raleway;
  color: #777777;
  line-height: 1.4;
}

.container,
%container {
  // max-width: 1370px;
  max-width: 1790px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


// Imports
// ==================
@import "./base/spacing";

@import "./composants/btn";
@import "./composants/nav";
@import "./composants/titleheader";
@import "./composants/topbar";

@import "./layout/footer";
@import "./layout/header";

@import "./pages/home";

@import "./sections/company";
@import "./sections/events";

