.footer {
  background-color: $emeraude;
  color: white;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: auto;
  margin-right: auto;
}

.footer__up {
  padding: 70px 69px;
  border-bottom: 1px solid #816536;
  display: flex;
  justify-content: flex-start;

  @media only screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.menu__footer__up {
  font-size: 15px;
}

.menu__footer__up:hover {
  color: $dore;
}

.grid {
  font-size: 13px;
  padding: 12px 69px 0px 69px;
  display: flex;
  align-items: center;
}

.position__left__logo {
  width: 150px;
  align-items: center;
  height: 100%;
  padding: 10px;
}

.position__center {
  flex: 1;
}

.nav__menu {
  display: flex;
  text-transform: uppercase;
}

.nav__menu li {
  padding: 0 15px;
}

.nav__menu li a {
  color: #816536;
}

.developer {
  color: #816536;
}

.footer li a {
  display: block;
  padding: 7px 0;
}

.footer a {
  transition: color .3s;
}

.footer a:hover {
  color: $dore;
}

.nav__menu li a:hover,
.nav__menu li a[aria-current] {
  color: $dore;
}

.footer__col+.footer__col {
  margin-top: space(1);
  flex: 1;
}

.footer__title {
  margin-bottom: space(2);
  display: flex;
  justify-content: space-around;
}

.footer__social {
  display: flex;
  margin-top: space(3);
  align-items: center;
  justify-content: flex-start;
}

.footer__social a+a {
  margin-left: space(3);
}

.footer__social svg {
  width: 24px;
  height: 24px;
}

@include up(720) {
  .footer__col+.footer__col {
    margin-top: 0;
    margin-left: 64px;
  }

  .footer__col:last-child {
    margin-left: 64px;
    flex: 1
  }
}