.footer {
    background-color: $emeraude;
    border-top: 2px solid $dore;
    color: white;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}
.footer__up {
    padding: 70px 69px;
}
.nav__footer__menu {
    width: 0;
}
.copyright {
    text-align: center;
    font-size: 10px;
    padding: 18px 0;
}
@include down(720) {
    .footer__up {
        padding: 70px 50px;
    }
    .footer .grid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav__footer__menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__credits {
        padding: 15px 0;
        font-size: 12px;
    }
}
.menu__footer__up {
    font-size: 15px;
}
.menu__footer__up:hover {
    color: $dore;
}

@include down(1200) {
    .footer .grid {
        padding: 10px 50px;
    }
}
@include down(900) {
    footer .grid {
        padding: 5px 59px;
    }
}
.footer__border {
    border-top: 1px solid #816536;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.footer .position__left__logo {
    width: 150px;
    align-items: center;
    height: 100%;
    // padding: 10px;
}

.nav__footer__menu li {
    padding: 0 15px;
}
.nav__footer__menu li a {
    color: #816536;
}

.nav__footer__menu > * + * {
    margin-left: space(4);
}
.developer {
    color: #816536;
}
.footer li a {
    display: block;
    padding: 7px 0;
}
.footer a {
    transition: color 0.3s;
}
.footer a:hover {
    color: $dore;
}
.nav__footer__menu li a:hover,
.nav__footer__menu li a[aria-current] {
    color: $dore;
}
.footer__col + .footer__col {
    margin-top: space(1);
}
.footer__title {
    margin-bottom: space(2);
    color: white;
    font-family: $f-raleway;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
;
}
.footer__social {
    display: flex;
    margin-top: space(3);
    align-items: center;
    justify-content: flex-start;
}
.footer__social a + a {
    margin-left: space(3);
}
.footer__social svg {
    width: 24px;
    height: 24px;
}
.footer .icon use {
    fill: white;
    transition: color 0.3s;
}
.footer .icon use:hover {
    fill: $dore;
    transition: color 0.3s;
}
.header .icon use {
    fill: #fff;
    transition: color 0.3s;
}
.header .icon use:hover {
    fill: $dore;
    transition: color 0.3s;
}
@include up(720) {
    .footer__col + .footer__col {
        margin-top: 0;
        margin-left: 64px;
    }
    .footer__col:last-child {
        margin-left: 64px;
    }
    .footer__title {
        display: flex;
        // justify-content: space-around;
    }
    .footer__up {
        display: flex;
        justify-content: space-between;
    }
    .footer .grid {
        font-size: 13px;
        padding: 12px 69px 0px 69px;
        display: flex;
        align-items: center;
        height: 100%;
    }
    .nav__footer__menu {
        display: flex;
        text-transform: uppercase;
        align-items: center;
        font-size: 13px;
    }
    .nav__footer__menu > * + * {
        margin-left: 0;
    }
    .position__right__credit {
        margin-left: auto;
    }
}

@include down(720) {
    .nav__footer__menu li {
        padding: 0;
    }
    .footer .position__left__logo {
        padding-top: 25px;
    }
}
@include down(440) {
    .grid {
        display: flex;
        align-items: center;
    }
    @each $i in 2, 3, 4 {
        .nav__footer__menu > *:nth-child(#{$i}n) {
            transition-delay: $i * 0.05s;
        }
    }
    .nav__footer__menu.is-active {
        pointer-events: auto;
        display: flex;
        animation: menuIn 1s;
        opacity: 1;

        & > * {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}
.nav__footer__menu > * + * {
    margin-left: 0;
}
