// Header Home
//================
.page-template .home {
    // padding: 1px;
    width: 100%;
    height: 1080px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    background-image: linear-gradient(
            0deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 75%
        ),
        url('assets/img/jez-timms_home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom;    
}
// Header Blog
//================
.search .blogNews,
.single-post .blogNews,
.category .blogNews,
.blog .blogNews {
    padding: 1px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background: rgb(214, 168, 89);
    background-image: radial-gradient(
            circle,
            rgba(214, 168, 89, 0.5) 0%,
            rgba(2, 61, 43, 1) 100%
        ),
        url('assets/img/mitchell-orr_header_about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px solid $dore;   
}

// Header Page
//================
.about {
    padding: 1px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background: rgb(214, 168, 89);
    background-image: radial-gradient(
            circle,
            rgba(214, 168, 89, 0.5) 0%,
            rgba(2, 61, 43, 1) 100%
        ),
        url('assets/img/mitchell-orr_header_about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px solid $dore;
}
.contact {
    padding: 1px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background: rgb(214, 168, 89);
    background-image: radial-gradient(
            circle,
            rgba(214, 168, 89, 0.5) 0%,
            rgba(2, 61, 43, 1) 100%
        ),
        url('assets/img/header_contact.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px solid $dore;
}
.events {
    padding: 1px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background: rgb(214, 168, 89);
    background-image: radial-gradient(
            circle,
            rgba(214, 168, 89, 0.5) 0%,
            rgba(2, 61, 43, 1) 100%
        ),
        url('assets/img/asad-atol_events.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px solid $dore;
}
.galery {
    padding: 1px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background: rgb(214, 168, 89);
    background-image: radial-gradient(
            circle,
            rgba(214, 168, 89, 0.5) 0%,
            rgba(2, 61, 43, 1) 100%
        ),
        url('assets/img/pink-and-white-flowers_galery.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px solid $dore;
}
.mentions {
    padding: 1px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-image: radial-gradient(
            circle,
            rgba(214, 168, 89, 0.5) 0%,
            rgba(2, 61, 43, 1) 100%
        ),
        url('assets/img/pink-flowers_mentions.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px solid $dore;
}
.sitemap {
    padding: 1px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-image: radial-gradient(
            circle,
            rgba(214, 168, 89, 0.5) 0%,
            rgba(2, 61, 43, 1) 100%
        ),
        url('assets/img/flowers-lavender_sitemap.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px solid $dore;
}

// header taxo
// ==============
.wedding {
    padding: 1px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background: rgb(238, 174, 202);
    background: radial-gradient(
            circle,
            rgba(238, 174, 202, 0) 0%,
            rgba(214, 168, 89, 1) 100%
        ),
        url('assets/img/beatriz-perez-moya_wedding.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px solid $dore;
}
.private {
    padding: 1px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background: rgb(238, 174, 202);
    background: radial-gradient(
            circle,
            rgba(238, 174, 202, 0) 0%,
            rgba(214, 168, 89, 1) 100%
        ),
        url('assets/img/girl-kissing-her-mother_prives.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px solid $dore;
}
.pro {
    padding: 1px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background: rgb(238, 174, 202);
    background: radial-gradient(
            circle,
            rgba(238, 174, 202, 0) 0%,
            rgba(214, 168, 89, 1) 100%
        ),
        url('assets/img/celebration_pro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px solid $dore;
}
.single--event {
    padding: 1px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0) 0%,
            rgba(214, 168, 89, 1) 100%
        ),
        url('assets/img/dinnerware-on-table-top_single-event.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px solid $dore;
}

// Header Service
//==================
.services,
.service-complete,
.service-partiel,
.service-day-j,
.service-card {
    padding: 1px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0) 0%,
            rgba(214, 168, 89, 1) 100%
        ),
        url('assets/img/dinnerware-on-table-top_single-event.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px solid $dore;
}
// .service-partiel {
//     padding: 1px;
//     width: 100%;
//     height: 600px;
//     margin: 0 auto;
//     background: rgb(255, 255, 255);
//     background: radial-gradient(
//             circle,
//             rgba(255, 255, 255, 0) 0%,
//             rgba(214, 168, 89, 1) 100%
//         ),
//         url('assets/img/dinnerware-on-table-top_single-event.jpg');
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     border-bottom: 2px solid $dore;
// }
// .service-day-j {
//     padding: 1px;
//     width: 100%;
//     height: 600px;
//     margin: 0 auto;
//     background: rgb(255, 255, 255);
//     background: radial-gradient(
//             circle,
//             rgba(255, 255, 255, 0) 0%,
//             rgba(214, 168, 89, 1) 100%
//         ),
//         url('assets/img/dinnerware-on-table-top_single-event.jpg');
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     border-bottom: 2px solid $dore;
// }
// .service-card {
//     padding: 1px;
//     width: 100%;
//     height: 600px;
//     margin: 0 auto;
//     background: rgb(255, 255, 255);
//     background: radial-gradient(
//             circle,
//             rgba(255, 255, 255, 0) 0%,
//             rgba(214, 168, 89, 1) 100%
//         ),
//         url('assets/img/dinnerware-on-table-top_single-event.jpg');
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     border-bottom: 2px solid $dore;
// }


.search .menu__area,
.blogNews .menu__area,
.about .menu__area,
.contact .menu__area,
.events .menu__area,
.galery .menu__area,
.mentions .menu__area,
.sitemap .menu__area,
.archive .menu__area,
.single .menu__area,
.services .menu__area,
.service-complete .menu__area,
.service-partiel .menu__area,
.service-day-j .menu__area,
.service-card .menu__area {
    background-color: transparent;
}
.search .header__title h1,
.blogNews .header__title h1,
.about .header__title h1,
.contact .header__title h1,
.events .header__title h1,
.galery .header__title h1,
.mentions .header__title h1,
.sitemap .header__title h1,
.archive .header__title h1,
.single .header__title h1,
.services .header__title h1,
.service-complete .header__title h1,
.service-partiel .header__title h1,
.service-day-j .header__title h1,
.service-card .header__title h1 {    
    padding-top: 210px;
    @include up(770) {        
        padding-top: 170px;
    }
}
.search .header__content,
.blogNews .header__content,
.about .header__content,
.contact .header__content,
.events .header__content,
.galery .header__content,
.mentions .header__content,
.sitemap .header__content,
.archive .header__content,
.single .header__content,
.services .header__content,
.service-complete .header__content,
.service-partiel .header__content,
.service-day-j .header__content,
.service-card .header__content {
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 0 69px;
    margin-top: 45px;
}
.search .header__content p,
.blogNews .header__content p,
.about .header__content p,
.contact .header__content p,
.events .header__content p,
.galery .header__content p,
.mentions .header__content p,
.sitemap .header__content p,
.archive .header__content p,
.single .header__content p,
.services .header__content p,
.service-complete .header__content p,
.service-partiel .header__content p,
.service-day-j .header__content p,
.service-card .header__content p {
    line-height: 1.7;
}

@include down(720) {
    .search .header__content,
    .blogNews .header__content,
    .about .header__content,
    .contact .header__content,
    .events .header__content,
    .galery .header__content,
    .mentions .header__content,
    .sitemap .header__content,
    .archive .header__content,
    .single .header__content,
    .services .header__content,
    .service-complete .header__content,
    .service-partiel .header__content,
    .service-day-j .header__content,
    .service-card .header__content {
        font-size: 18px;
    }
    .header__content,
    .event-header {
        padding: 0 40px !important;
        margin-top: 15px !important;
    }
}
.header__content .icon{
    height: 30px;
}
.header__author{
    font-style: italic;
    font-size: large;
}
.header__citation{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

// Preloader
// ============
.loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 9999999999999;
}

.load-circle {
    margin: 50vh auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #e8e8e8;
    border-top: 2px solid $dore;
    -webkit-animation: rotate 1.2s infinite linear;
    animation: rotate 1.2s infinite linear;
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// button top
// ============
.button-top {
    position: fixed;
    display: none;
    bottom: 27px;
    cursor: pointer;
    filter: alpha(opacity = 50); /* IE < 8 */
    height: 40px;
    width: 40px;
    opacity: 0.5;
    right: 20px;
    line-height: 40px;
    text-align: center;
    z-index: 99999999;
    background-color: #026f4f;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.button-top svg {
    width: 16px;
    height: 16px;
}
.button-top:hover {
    filter: alpha(opacity = 100); /* IE < 8 */
    opacity: 1;
}
