
# BEGIN WebP Express
# Les directives (lignes) entre 'BEGIN WebP Express' et 'END WebP Express' sont
# généré dynamiquement, et ne doivent uniquement être modifiées via les filtres WordPress.
# Toute modification des directives entre ces marqueurs sera outrepassée.
# Plugin is deactivated
# END WebP Express