#breadcrumbs {
    font-size: 75%;
    color: #8e908f;
    margin: 1em 0 2em 0;
}
#breadcrumbs a {
    display: inline;
    border: none;
    padding: 0;
    text-transform: none;
color: $dore;
}
#breadcrumbs a:hover{
font-weight: bold;
}
