#breadcrumbs {
    font-size: 75%;
    color: #8e908f;
    margin: 1em 0 2em 0;
    padding: 0 69px;
}
#breadcrumbs a {
    display: inline;
    border: none;
    padding: 0;
    text-transform: none;
    color: $dore;
    transition: all 0.1s;
}
#breadcrumbs a:hover {
    font-weight: bold;
}
