.btn {
  font-family: $f-raleway;
  font-weight: 600;
  font-size: 14px;  
  display: inline-flex;
  align-items: center;
  text-align: center;
  color: $dore;
  padding: 14px space(3);
  background: transparent;
  border: 2px solid $dore;
  box-sizing: border-box;  
  transition: .3s;
  cursor: pointer;
}
.cta__btn-white{
  color: white;
  border: 2px solid white;
}
.cta__btn-white:hover,
.cta__btn-white:focus,
.cta__btn-white:active{
  color: white;
  border: 2px solid $dore;
  background-color: $dore;
}
.btn:hover,
.btn:focus,
.btn:active {  
  background-color: $dore;  
  // border: 2px solid white;
  color: #FFf;
}
.btn svg {
  width: 16px;
  height: 16px;
  margin-left: space(2);
  transition: transform .3s;
}
.btn:hover svg {
  transform: translateX(3px);
}
.btn-filled {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #FFF;
  background: linear-gradient(180deg, #FE694A 0%, #FA4C29 100%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
  transition: .3s;

  &:hover,
  &:focus,
  &:active {
    background: linear-gradient(180deg, #fe653e 0%, #fa371b 100%);
  }
}
