.nav-previous,
.nav-next{
// background-color: $emeraude;
        padding: 10px 32px;
    border-radius: 68px;
    border: 1px solid $emeraude;
}
.nav-previous:hover,
.nav-next:hover{
background-color: $emeraude;
transition: .6s;
       
}
.nav-links a{
transition: .3s;
}