.slider__container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}
.slider__title h2 {
    text-align: center;
    color: white;
    line-height: 1.7;
    font-size: 4em;
    @include down(450) {
        font-size: 2em;
    }
}
.slider__content {
    position: absolute;
    top: 29%;
    bottom: 0;
    left: 0;
    right: 0;
}
@include down(450) {
    .slider__content {
        position: absolute;
        top: 0%;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
