.topbar {
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom: 1px solid #ebebeb;    
    font-size: 11px;
}
.topbar ul {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.topbar li {
    margin: 0 5px;
}
.topbar li,
.topbar a {
    display: flex;
    height: 40px;
    align-items: center;
    transition: color 0.3s;
    @include down(400){
        height: 27px;
    }
}
.topbar svg {
    width: 12px;
    height: 12px;
    margin-right: 4px;
    fill: currentColor;
}
.topbar__socials .topbar__links {
    margin-left: auto;
}
.topbar a:hover,
.topbar__socials li a:hover {
    color: $dore;
}
.topbar svg:hover {
    fill: $dore;
}

@include up(600px) {
    .topbar {
        font-size: 13px;
    }
    .topbar__container {
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
    }
}
@include up(900px) {
    .topbar__container {
        margin: 0 33px;
    }
    .topbar svg {
        width: 16px;
        height: 16px;
        margin-right: 5px;
        fill: currentColor;
    }
    .topbar .topbar__infos li {
        margin: 0 30px;
    }
}
