.page-title {
  @extend %big-title;
  margin-bottom: space(6);
}
.page-about .page-sidebar,
.archive .page-sidebar,
.sitemap__content {
  padding: 70px 69px;
}
.page-about {
  padding-bottom: 150px;
}
.page-about .thumbnail {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  background: url("assets/img/emma-min.jpg");
  background-size: cover;
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  background-position-x: center;
  margin: 30px;
  border: 8px solid $dore;
  @include down(550) {
    width: 250px;
    height: 250px;
  }
}
.page-sidebar__galery {
  display: grid;
  // grid-template-columns: 1fr;
  grid-gap: space(10);
  align-items: flex-start;
}
.news-list__galery {
  text-align: center;
  padding: 0 69px;
  display: grid;
  grid-gap: space(10);
  padding-bottom: 59px;
  @include down(900){
    padding: 0 20px;
  }
}
.news-list__galery hr {
  width: 300px;
}

@include down(900) {
  .page-about .page-sidebar {
    display: flex;
    flex-direction: column;
  }
  .page-about .news-list {
    padding-top: 70px;
  }
}
header .news_header {
  height: auto;
}
.sections .container {
  display: block;
  position: relative;
}
.sections .company__title {
  text-align: center;
  position: relative;
}
.page-events .company__title {
  text-align: center;
  position: relative !important;
}
.sections .container .page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  z-index: 0;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%;
  width: 50%;
  line-height: 1.7;
  font-size: 60px;
  @include down(550) {
    font-size: 29px;
    top: 40%;
  }
}
.page-title svg {
  width: 100px;
  height: 15px;
  @include down(550) {
    width: 50%;
  }
}
.page-events .page-title {
  position: absolute;
  text-align: center;
  margin: 101px auto !important;
  left: 0;
  right: 0;
  top: 20% !important;
  @include down(500) {
    margin: 60px auto !important;
  }
}
.sections .news-list figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-about .sections .news-list p.next {
  display: flex;
  align-items: center;
}

// Events & Prestation
//=============
.event,
.prestation {
  max-width: 1370px;
  width: 100%;
  height: auto;
  padding: 70px 0;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  position: relative;

  @media only screen and (max-width: 900px) {
    flex-direction: column;
    // padding: 0;
    height: auto;
    margin-bottom: 0;
  }
}

// Page archive
// =================
.events__content {
  text-align: center;
  padding: 70px 69px;
}
.home .events__grid {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 900px) {
    flex-direction: column;
  }
}
.home .presta__grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.archive .events__grid {
  display: flex;
  flex-direction: column;
}

// Pages Services ( complete | partielle | day-j | card )
//===================
.page-service .excerpt {
  font-weight: 500;
  margin-bottom: 50px;
}
.page-service .thumbnail {
  margin: 70px 0;
}
.page-service .news-list li {
  line-height: 2em;
}

// Events front-page
// ======================
.event__content,
.presta__content {
  padding: 70px 0;
}

@include down(900) {
  .home .container__event {
    height: auto;
    padding: 70px 50px;
  }
}
.event__image {
  padding: 20px;
}
.event__image img {
  box-shadow: 0 6px 13px rgba(0, 0, 0, 0.35);
}
.page-events .event__body {
  font-family: $f-alex;
  text-transform: capitalize;
  color: white;
}

.content {
  position: relative;
  width: 100%;
  padding: 1em 0 4em;
  margin: auto;
  max-width: 90%;
  text-align: center;
  overflow: hidden;
}
/* Common style */
.content figure {
  position: relative;
  overflow: hidden;
  min-width: 244px;
  max-width: 100%;
  max-height: 360px;
  width: 100%;
  background: $dore;
  text-align: center;
  cursor: pointer;
  box-shadow: -10px 5px 13px rgba(0, 0, 0, 0.35);
}
.content figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}
.content figure figcaption {
  padding: 2.5em;
  color: #fff;
  font-size: 1.5em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  @include down(1024) {
    padding: 1em;
  }
}
.content figure figcaption::before,
.content figure figcaption::after {
  pointer-events: none;
}
.content figure figcaption,
.content figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.content figure h3 {
  word-spacing: -0.15em;
  font-weight: 800;  
}
@include down(400) {  
  .content figure p.event {
    display: block;    
  }
}
.content figure h3,
.content figure p {
  margin: 0;
  @include down(500){
    margin: -5px;
  }
}
.content figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-box-shadow: 12px -6px 75px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 12px -6px 75px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 12px -6px 75px 3px rgba(0, 0, 0, 0.75);
  @include down(1300) {
    font-size: 50%;
    margin-top: 20px;
  }
  @include down(900) {
    font-size: 42.5%;
    margin-top: 0px;
  }  
}
@include down(760) {
  .content figure p:nth-child(2) {
    display: none;
  }
}

/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-lily img {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  // opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}
figure.effect-lily figcaption > div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  height: 50%;
}
figure.effect-lily h3,
figure.effect-lily p {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}
figure.effect-lily h3 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}
figure.effect-lily p {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}
figure.effect-lily:hover img,
figure.effect-lily:hover p {
  opacity: 1;
}
figure.effect-lily:hover img,
figure.effect-lily:hover h3,
figure.effect-lily:hover p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
figure.effect-lily:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

// Page Taxo
// ==============
.news__body {
  margin-bottom: 59px;
}

// Zoom hover effect
.news-list {
  padding: 0;
}
.page-about .news-list {
  padding: 0;
  text-align: left;
}
.news-list:last-child {
  padding-bottom: 60px;
}
.news-list .news {
  position: relative;
  margin: 0 0 0 25px;
  padding: 0;
}
.news__image {
  max-width: 300px;
  max-height: 250px;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 6px 13px rgba(0, 0, 0, 0.35);
}
/* Zoom In */
.news-list .news__image img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.news-list .news__image:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  border-radius: 4px;
}



