.page-template-legal .page-sidebar{
    padding: 70px 69px;
}
.page-template-legal .page-sidebar h3{
    margin-bottom: .5em;
}
.page-template-legal .page-sidebar a{
    color: $dore;
}
.page-template-legal .page-sidebar a.itfy{    
    color: currentColor;
}
.page-template-legal h1{
    text-shadow: none;
}

