.page-title {
    @extend %big-title;
    margin-bottom: space(6);
}
.page-about .page-sidebar,
.archive .page-sidebar,
.sitemap__content {
    padding: 70px 69px;
}
.page-about {
    padding-bottom: 150px;
}
.page-about .thumbnail {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    background: url('assets/img/emma-min.jpg');
    background-size: cover;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    background-position-x: center;
    margin: 30px;
    border: 15px solid $dore;
    @include down(550) {
        width: 300px;
        height: 300px;
    }
}
.page-sidebar__galery {
    display: grid;
    // grid-template-columns: 1fr;
    grid-gap: space(10);
    align-items: flex-start;
}
.news-list__galery {
    text-align: center;
    padding: 0 10px;
    display: grid;
    // grid-template-columns: 1fr;
    grid-gap: space(10);
    padding-bottom: 59px;
}
.news-list__galery hr {
    width: 300px;
}

@include down(900) {
    .page-about .page-sidebar {
        display: flex;
        flex-direction: column;
    }
    .page-about .news-list {
        padding-top: 70px;
    }
}
header .news_header {
    height: auto;
}
.sections .container {
    display: block;
    position: relative;
}
.sections .company__title {
    text-align: center;
    position: relative;
}
.page-events .company__title {
    text-align: center;
    position: relative !important;
}
.sections .container .page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    z-index: 0;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    width: 40%;
    line-height: 1.7;
    font-size: 60px;
    @include down(550) {
        font-size: 29px;
        top: 40%;
    }
}
.page-title svg {
    width: 100px;
    height: 15px;
    @include down(550) {
        width: 75%;
    }
}
.page-events .page-title {
    margin: 101px auto !important;
}
.page-events .page-title {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20% !important;
}
.sections .news-list figure {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-about .sections .news-list p.next {
    display: flex;
    align-items: center;
}

// Events & Prestation
//=============
.event,
.prestation {
    max-width: 1370px;
    width: 100%;
    height: auto;
    padding: 70px 0;
    background-size: cover;
    margin: 0 auto;
    text-align: center;

    @media only screen and (max-width: 900px) {
        flex-direction: column;
        padding: 0;
        height: auto;
        margin-bottom: 0;
    }
}

// Page archive
// =================
.events__content {
    text-align: center;
    padding: 70px 69px;
}
.home .events__grid {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 900px) {
        flex-direction: column;
    }
}
.home .presta__grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.archive .events__grid {
    display: flex;
    flex-direction: column;
}

// Events front-page
// ======================
.event__content,
.presta__content {
    padding: 70px 0;
}

@include down(900) {
    .home .container__event {
        height: auto;
        padding: 70px 50px;
    }
}
.event__image {
    padding: 20px;
}
.event__image img {
    box-shadow: 0 6px 13px rgba(0, 0, 0, 0.35);
}
.page-events .event__body {
    font-family: $f-alex;
    text-transform: capitalize;
}

// Overlay events
// =================
.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}
.archive .content {
    position: relative;
    width: 90%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}
.content .content-overlay {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    position: absolute;
    height: 94%;
    width: 90%;
    left: 20px;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.archive .content .content-overlay {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    position: absolute;
    height: 94%;
    width: 100%;
    left: 20px;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay {
    opacity: 1;
}
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details {
    top: 75%;
    left: 50%;
    opacity: 1;
}
.archive .content:hover .content-details {
    top: 65%;
    left: 50%;
    opacity: 1;
}
.content-details .event__body {
    color: $dore;
    font-family: $f-alex;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 50px;
}
.archive .content-details .event__body {
    color: $emeraude;
    font-family: $f-alex;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 50px;
}
.content-details p {
    color: $emeraude;
    font-size: 0.8em;
    padding: 0px 69px;
}
@include up(1580) {
    .content-details p {
        padding: 0px 230px;
    }
}
.fadeIn-bottom {
    top: 80%;
}

// Page Taxo
// ==============
.news__body {
    margin-bottom: 59px;
}

// Zoom hover effect
.news-list {
    padding: 0;
}
.page-about .news-list {
    padding: 0;
    text-align: left;
}
.news-list:last-child {
    padding-bottom: 60px;
}
.news-list::after {
    // content: '';
    // clear: both;
    // display: block;
}
.news-list .news {
    position: relative;
    margin: 0 0 0 25px;
    padding: 0;
}
.news__image {
    max-width: 300px;
    max-height: 250px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 6px 13px rgba(0, 0, 0, 0.35);
}
/* Zoom In */
.news-list .news__image img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.news-list .news__image:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    border-radius: 4px;
}

// Sitemap
// ============
.sitemap__content h2 {
    // margin-bottom: .5em;
}
.sitemap__content a {
    display: inline;
    border: none;
    padding: 0;
    text-transform: none;
    transition: all 0.3s;
    cursor: pointer;
}
.sitemap__content a:hover {
    color: $dore;
}
.sitemap__taxonomy {
    margin-left: 1.5em;
}
