// Pages Prestations ( lé en main | partielle | jour j | conseil )
//===================
.page-service .excerpt {
    font-weight: 500;
    margin-bottom: 50px;
  }
  .page-service .thumbnail {
    margin: 70px 0;
  }
  .page-service .news-list li {
    line-height: 2em;
  }